@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.font-asap-condens-500 {
  font-family: var(--font-asap-condens-500);
}
.font-asap-condens-700 {
  font-family: var(--font-asap-condens-700);
}
.font-asap-condens-900,
h1,h2,h3,h4 {
  font-family: var(--font-asap-condens-900);
  text-transform: uppercase;
  line-height: 1;
}

h2 {
  font-size: clamp(3.375rem, 2.9608rem + 1.6993vw, 5rem);
}
h4 {
  font-size: clamp(2.5rem, 2.1814rem + 1.3072vw, 3.75rem);
}

p, h5 {
  font-family: var(--font-asap);
}
p {
  font-size: clamp(1rem, 0.9363rem + 0.2614vw, 1.25rem);
}

section {
  @apply py-24;
  min-height: 100vh;
}
.card-slider {
  @apply border-white;
  border: 4px white solid;
  border-radius: 13.86px;
}

.btn {
  @apply bg-black text-white px-6 py-2 rounded-3xl font-asap-condens-500 uppercase text-base;
}