@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.font-asap-condens-500 {
  font-family: var(--font-asap-condens-500);
}
.font-asap-condens-700 {
  font-family: var(--font-asap-condens-700);
}
.font-asap-condens-900,
h1,h2,h3,h4 {
  font-family: var(--font-asap-condens-900);
  text-transform: uppercase;
  line-height: 1;
}

h2 {
  font-size: clamp(3.4375rem, 1.3834rem + 8.427vw, 8.125rem);
}

h4 {
  font-size: clamp(2.5rem, 2.1814rem + 1.3072vw, 3.75rem);
}

p, h5 {
  font-family: var(--font-asap);
}
p {
  font-size: clamp(1rem, 0.9363rem + 0.2614vw, 1.25rem);
}

section {
  @apply py-24;
  min-height: calc(100dvh  - 100px);
}

@media (min-width:640px) {
  section {
    min-height: 50vw;
  }
}
.card-slider {
  @apply border-white;
  border: 4px white solid;
  border-radius: 13.86px;
}


.btn-pulse {
  @apply text-base px-6 py-2 rounded-3xl font-asap-condens-500 uppercase;
  background:#000;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  color:#fff;
  display:inline-block;
  line-height:1.6;
  min-width:144px;
  position:relative;
  text-align:center;
  -webkit-transition:.3s ease-out;
  transition:.3s ease-out;
  z-index:10;
  overflow: hidden;
}

.btn-pulse::after {
  @apply border-2 border-white rounded-3xl; 
  height:100%;
  width: 100%;
  bottom:0;
  left:0;
  top:0;
}

.btn-pulse:before {
  background-color:#fff;
  height:100%;
  width: 100%;
  bottom:0;
  left:0;
  top:0;
  -webkit-transition:.3s ease-out;
  transition:.3s ease-out;
  transform: scaleX(0);
  transform-origin: left;
}

.btn-pulse span {
  color:#fff;
  display:block;
  mix-blend-mode:difference;
  position:relative;
  -webkit-transition:.2s;
  transition:.2s;
  width:100%;
  z-index:10
}

  .btn-pulse:hover {
    outline:0;
    outline-offset:0
  }
  .btn-pulse:hover:before {
    transform: scaleX(1);
  }
  .btn-pulse:after,
  .btn-pulse:before {
    content:"";
    position:absolute;
  }
  .btn-pulse:hover span {
    mix-blend-mode:difference;
    -webkit-transition:.2s .1s;
    transition:.2s .1s
  }



